body {
    font-family: 'Roboto', serif;
    font-weight: bold;
    background-image: url("./img/code-photo.jpg");
    background-attachment: fixed;
    padding-bottom: 20px;
    margin: 0;
}

p { 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 100;
}

a { font-weight: 100; }

i {
    display: inline-block;
    vertical-align: middle;
}

span {
    display: inline-block;
    vertical-align: middle;
}

#home {
    background-image: url("./img/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(185, 167, 167);
    min-height: 900px;
    padding: 10px;
    position: relative;
}

#header {
    background-color: whitesmoke;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

#contact-form {
    margin: 0 auto;
    width: 25vw;
}

#header-text { 
    text-align: center; 
}

#header-img { 
    width: 300px;
    padding-bottom: 30px;
}

#container {
    background-color: whitesmoke;
    min-height: 2000px;
}

#about-header { padding-bottom: 20px; }

#projects {
    padding-bottom: 30px;
}

#contacts-center {
    padding-bottom: 30px;
}

#contact-me {
    padding-bottom: 30px;
    margin: 0 auto;
}

#email, #title, #message {
    width: 100%;
}

.section {
    padding-top: 120px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.project-image {
    width: 400px;
}

.padding {
    padding-top: 20px;
}

.col span {
    float: right;
}